<div class="clearfix">
    <div class="form-group col-md-12">
        <table>
            <tr>
                <td>
                    Para avaliação dos produtos, use a seguinte referência:
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Excelente:</strong> produto de excelência. Não apresenta defeito, embora a chefia possa aplicar pequenos ajustes quanto à forma (nota 10);
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Muito Bom:</strong> produto acima da média, merecedor de destaque e reconhecimento. Pode apresentar poucos defeitos menores (nota entre 8,5 e 9,5);
                </td>
            </tr>

            <tr>
                <td>
                    <strong>Bom:</strong> produto satisfatório que atende ao exigido para aceite. Apresenta mais defeitos menores (nota entre 6,6 e 8,4);
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Regular:</strong> produto satisfatório que atende minimamente ao exigido para aceite. Apresenta mais defeitos e pode exigir revisão (nota entre 5 e 6,5);
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Insatisfatório:</strong> produto não satisfatório, que não atende minimamente ao exigido para aceite. Apresenta defeitos maiores que o compromete e o qualifica em um nível aquém de 5.
                </td>
            </tr>
        </table>
    </div>
</div>
