@using PGD.Domain.Entities
@using PGD.Domain.Entities.RH
@model PGD.Application.ViewModels.Unidade_TipoPactoViewModel

<div class="clearfix"></div>
<div class="well">
    @using (Html.BeginForm("Index", "UnidadeTipoPacto", FormMethod.Post, htmlAttributes: new { @class = "form col-md-10" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group col-md-4">
            <label>Nome da Unidade</label>
            @Html.DropDownListCGUFor(model => model.IdUnidade, new SelectList((List<Unidade>)TempData["lstUnidade"], "IdUnidade", "Nome"), new { @class = "form-control" }).Selectize()
        </div>
        <div class="form-group col-md-4">
            <label>Tipo de Plano</label>
            @Html.DropDownListCGUFor(model => model.IdTipoPacto, new SelectList((List<TipoPacto>)TempData["lstTipos"], "IdTipoPacto", "DescTipoPacto"), new { @class = "form-control" }).Selectize()
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-search"></span> Consultar</button>
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <a id="btnNovo" href="@Url.Action("Create")" class="btn btn-primary btn-block ">Novo</a>
        </div>
    }

    <div class="clearfix"></div>
</div>